@font-face {
font-family: "PT Sans";
font-style:normal;
font-weight:400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display:swap
}

@font-face {
  font-family: "PT Sans";
  font-style:normal;
  font-weight:700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display:swap
}
*{
 box-sizing: border-box;
}
html{
height:100%;
}
body {
margin:0;
display: flex;
flex-direction:column;
min-height: 100%;
font-family: "PT Sans", sans-serif;
font-size:16px;
line-height: 140%;
color: #000000;
background-color: #FFFFFF;
}
.navigation{
display:flex;
width: 1200px;
margin: 0 auto;
}
.navigation-list{
display:flex;
align-items: center;
justify-content: center;
width: 450px;
margin:0;
padding: 0;
list-style-type: none;
}
.navigation-user{
display: flex;
justify-content: center;
max-width: 310px;
margin-left:auto;
list-style-type: none;
}
.navigation-link{
font-size:20px;
line-height: 24px;
font-weight: 700;
text-transform: capitalize;
text-decoration:none;
text-align:center;
color:#000000;
}
.navigation-link-visit{
font-size:16px;
line-height: 20px;
font-weight: 700;
color: #FFFFFF;
background-color: #756157;
text-transform: uppercase;
text-decoration:none;
text-align:center;
}
main-container{
flex-grow: 1;
}
.page-container{
width: 1200px;
margin: 0 auto;
}
.img,.welcome-image{
display: block;
margin: 0 auto;
}

.main-index{
background-image: url("../images/sedona-1.jpg");
background-repeat:no-repeat;
background-size: 1200px 485px;
margin:0 auto;
}
.welcome-image-wrapper{
background-image: url("../images/");
background-repeat:no-repeat;
background-size: 1200px 485px;
width:100%;
height:485px;
}
.advantages-list{
display: flex;
flex-direction: column;
justify-content: center;
margin: 0;
padding: 0;
text-align: center;
}
.advantages-item-image{
display:flex;
justify-content: center;
}
.advantade-conditions{
display:flex;
flex-direction:row;
min-height: 385px;
list-style-type: none;
}
.advantages-item-image-reverse{
display: flex;
}
.advantages-live{
display:flex;
flex-direction:row;
min-height: 385px;
list-style-type: none;
}
  .advantage-preview{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
width: 1200px;
min-height: 246px;
}

.advantage-preview .advantage-title{
font-size:30px;
line-height: 36px;
font-weight: 700;
text-transform: uppercase;
text-align:center;
}
.advantage-preview .advantade-description{
font-size:22px;
line-height: 26px;
font-weight: 400;
text-align:center;
}
.advantages-text-content {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 103px 85px;
color: #FFFFFF;
background-color:#82B3D3;
}
.advantages-item-title{
font-size:24px;
line-height: 28px;
font-weight: 700;
color: #FFFFFF;
background-color:#82B3D3;
text-transform: uppercase;
text-align:center;
}
.advantages-item-desc{
font-size:18px;
line-height: 21px;
font-weight: 400;
color: #FFFFFF;
background-color:#82B3D3;
text-align:center;
}
.advantages-image{
 min-height: 100%;
}
.advantages-title{
font-size:24px;
line-height:28px;
font-weight:700;
color: #000000;
text-align:center;
text-transform: uppercase;
}
.advantages-description{
font-size:18px;
line-height:21px;
font-weight:400;
color: #333333;
text-align:center;
}
.welcom-sedona-visit{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 1200px;
min-height: 246px;
 }
.welcome-sedona{
font-size:30px;
line-height: 36px;
font-weight: 700;
text-transform: uppercase;
text-align:center;
}
.causes-visit{
font-size:22px;
line-height: 26px;
font-weight: 400;
color:#333333;
text-align:center;
}
.advantages-item-area{
color: #333333;
background-color:rgba(131, 179, 211, 0.12);
padding: 103px 85px 103px 85px;
width: 400px;
}
.advantages-item-road{
color: #333333;
background-color:rgba(131, 179, 211, 0.2);
padding: 103px 85px 103px 85px;
width: 400px;
}
.advantages-item-people{
color: #333333;
background-color:rgba(131, 179, 211, 0.12);
padding: 103px 85px 103px 85px;
width: 400px;
}
.advantages-item-rent{
color: #333333;
background-color:rgba(131, 179, 211, 0.12);
padding: 80px 85px 80px 85px;
width: 400px;
}
.advantages-item-food{
color: #333333;
background-color:#ffffff;
padding: 80px 85px 80px 85px;
width: 400px;
}
.advantages-item-present{
color: #333333;
background-color:rgba(131, 179, 211, 0.12);
padding: 80px 85px 80px 85px;
width: 400px;
}
.rent{
background: url("../images/house.svg") no-repeat;
background-size: 75px 72px;
color:#83B3D3;
display: block;
margin: 0 auto;
}
.food{
background: url("../images/food.svg") no-repeat;
background-size: 74px 70px;
color:#83B3D3;
display: block;
margin: 0 auto;
}
.present{
background: url("../images/present.svg") no-repeat;
background-size: 74px 70px;
color:#83B3D3;
display: block;
margin: 0 auto;
}
.offer{
background-color:#ffffff;
}
.offer-title{
font-size:30px;
line-height: 36px;
font-weight: 700;
text-transform: uppercase;
text-align:center;
}
.offer-description{
font-size:22px;
line-height:26px;
font-weight:400;
color: #333333;
text-align:center;
}
.button-all{
font-size: 20px;
line-height: 36px;
font-weight: 700;
text-align: center;
color:#FFFFFF;
background-color: #756157;
text-decoration: none;
text-transform: uppercase;
display: block;
margin:0 auto;
width:376px;
min-height: 52px;
}
.newsletter-join{
background-color:#ffffff;
background-repeat:no-repeat;
background-size: 1200px 414.86px;
}
.newsletter-join-welcom{
background-image: url("../images/join.jpg");
}
.page-footer-container {
display: flex;
flex-direction: column;
min-height: 414.86;
width: 1200px;
margin: 0 auto;
}
.page-footer-title{
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
text-align: center;
}

.page-footer-desc{
font-size:22px;
line-height:26px;
font-weight:400;
text-align:center;
}
  .newsletter-button{
font-size: 20px;
line-height: 36px;
font-weight: 700;
text-align: center;
color:#FFFFFF;
background-color: #82B3D3;
text-decoration: none;
text-transform: uppercase;
padding:8px 50px;
}
  .field{
width:452px;
min-height: 52px;
background-color:#F2F2F2;
padding: 12px 20px;
}
  .footer-contacts-tel{
  font-size:40px;
  line-height:40px;
  font-weight:400;
  color: #000000;
  text-align:center;
  text-transform: uppercase;
  text-decoration:none;
  }
  .htmlacademy-image{
  color: #000000;
  }
  .catalog-background-title{
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
  color: #FFFFFF;
  }
  .breadcrumbs-item{
  list-style-type: none;
  display: flex;
  }

.breadcrumbs-link {
color: inherit;

}
.catalog-filter-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}
.control{
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
}
.button-select{
font-size: 16px;
line-height: 20px;
font-weight: 700;
align-items: center;
text-transform: uppercase;
color:#FFFFFF;
background-color:  #82B3D3;
border-radius: 4px;
padding: 8px 50px;
width: 191px;
min-height: 36px;

}
.select-control{
color: #333333;
background-color: #ffffff;
}

.button-cards{
color: #000000;
background-color: #ffffff;
border:2px solid #000000;
border-radius: 4px;
}
.buttom-room{
color: #000000;
background-color: #ffffff;
border: 2px solid #E5E5E5;
border-radius: 4px;
}
.button-list-rooms{
color: #000000;
background-color: #ffffff;
border: 2px solid #E5E5E5;
border-radius: 4px;
}
.product-card-link {
text-decoration: none;
}
.product-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  padding: 16px 20px 16px 20px;
  width:140px;
}
.product-card-type{
  width: 140px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  padding: 16px 0 16px 20px;

}
.product-card-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color:#756157;
  border: 2px solid #756157;
  border-radius: 4px;
  padding:8px 50px;
  text-transform: uppercase;
  text-align: center;
  width: 140px;
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;

}
.product-card-chosen{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 50px;
  color: #ffffff;
  background-color:#82B3D3;
  border: 2px solid #82B3D3;
  border-radius: 4px;
  padding:8px 50px;
  text-transform: uppercase;
  text-align: center;
}
.product-card-chosen-checked{
  color: #ffffff;
  background-color:#7DB54F;
  border: 2px solid #7DB54F;
  border-radius: 4px;
  padding:8px 50px;
  text-transform: uppercase;
  text-align: center;
}
.pagination-link {
color:#ffffff;
font-size: 20px;
line-height: 36px;
font-weight: 700;
text-align: center;
text-transform: uppercase;
border-radius: 4px;
background-color:#82B3D3;
text-decoration: none;
padding: 18.94% 40.91% 21.06% 39.09%;
}
.pagination-link-points{
color:#000000;
background-color: #ffffff;
font-size: 22px;
line-height: 26px;
font-weight: 400;
text-align: center;
text-decoration: none;
border-radius: 4px;
padding: 27.27% 35.91% 29.39% 35.76%;

}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
.catalog-background{
background-image: url("../images/filter-fon.jpg");
background-repeat:no-repeat;
background-size: cover;
color:#ffffff;
}
.navigation-logo{
width:140px;
margin-left:70px;
margin-right:28px;
}
.image-wrapper{
  margin:0;
}
.newsletter-form{
display: flex;
justify-content: center;
}
.footer-social{
display: flex;
justify-content: space-between;
}
.footer-social-list{
display: flex;
align-items: center;
list-style-type: none;
}
.catalog-center-column{
 width: 1200px;
}
.pagination{
display: flex;
flex-direction: row;
width: 1060px;
min-height: 60px;
align-self: stretch;
}
.pagination-item{
width: 60px;
min-height: 60px;
border-radius: 4px;
margin-right: 8px;
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
list-style-type: none;
gap: 8px;
}

.product-list{
display: flex;
justify-content: space-between;
margin: 0;
padding: 0;
text-align: center;
flex-wrap: wrap;
width:1060px;
min-height: 896px;
margin:0 70px;
}
.product-card{
  display: flex;
  flex-direction: column;
width: 340px;
min-height: 438px;
padding: 20px;
border: 1px solid #E6E6E6;
border-radius: 4px;
justify-content: space-between;
}
.product-card-image{
width: 300px;
min-height: 212px;
order:-1;
}
.product-card-title {
  display: flex;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 16px 20px 16px 20px;
  justify-content: flex-start;
  }
  .catalog-filter{
display: flex;
  }
.button-controls-wrapper{
display: flex;
flex-direction: column;
gap:10px;
margin: 0 auto;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.catalog-header{
  display: flex;
  justify-content: space-between;
  gap:70px;
  margin: 56.5px 70px 46.5px 70px;

}
.sorting-container{
  margin-left: auto;
}
.product-card-link{
  display:flex;
  flex-direction: column;
}
.catalog-filter-group-head{
display: flex;
flex-direction: row;
gap:20px;
width: 150.43px;
height: 157px;
align-items: flex-start;
margin: 40px auto 73px 70px;

}
.catalog-products{
  display: flex;
  flex-direction: column;
}
.catalog-filter-item{
display: flex;
list-style-type: none;

}
.catalog-filter-list{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 157px;
  min-height: 101px;
}
.button-controls-wrapper{
display: flex;
flex-direction: column;
margin: 125px 70px 138px auto;
gap:32px

}
.catalog-content-title{
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
width: 338px;
min-height: 36px;
}
.sorting-container{
display: flex;
flex-direction: row;
width: 292px;
min-height: 49px;
padding: 14px 20px;
align-items: center;
margin: 50px 94px 40px 200px;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;
border: 2px solid #E5E5E5;
border-radius: 4px;
}
.control-list{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: o;
width: 160px;
min-height: 48px;

list-style-type: none;
}
.control-list-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.button-choose{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.product-card-type-price{
display: flex;
justify-content: center;
gap:20px

}
